.item-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 5px;
}

.item {
    width: 100%;
    padding: 5px 3px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: background-color .4s;
    cursor: pointer;
}

.item:hover {
    background-color: rgb(130, 130, 130);
    transition: background-color .4s;
}

.item.done:hover {
    background-color: rgb(25, 25, 25);
}

.item-inner {
    display: flex;
    padding-bottom: 1px;
}

.item-title:focus {
    outline: none;
    border-bottom: yellowgreen 1px solid;
}

.item-text {
    margin-right: 20px;
}

.done {
    background-color: rgb(25, 25, 25);
    transition: all 1s;
}

.item-checkbox {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 50%;
    min-width: 14px;
    height: 14px;
    margin-right: 8px;
    margin-top: 3px;
    cursor: pointer;
}

.item-checkbox:focus {
    outline: none;
}

.item-checkbox:hover {
    background-color: #9CFC97;
}

.item-checkbox:checked {
    background-color: yellowgreen;
}

.delete-item-button {
    background-color: transparent;
    font-size: 26px;
    line-height: 10px;
    color: white;
}

.delete-item-button:hover {
    opacity: .4;
}

.edit-item-button { 
    background-color: transparent;
    color: white;
    font-size: 22px;
    line-height: 16px;
    height: 25px;
}

.edit-item-button:hover {
    color: rgb(50, 50, 50);
}