.list {
    width: 300px;
    margin: 0 15px 15px;
    padding: 0 15px;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.list-banner {
    display: flex;
}

.list-title {
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    margin: 12px 0;
}

.list-title.edit {
    height: 35px;
    padding: 0px;
    background-color: rgb(50, 50, 50);
    font-size: 24px;
}

.list-title:focus {
    outline: none;
    border-bottom: yellowgreen 1px solid;
}

.item-text {
    background-color: rgb(50, 50, 50);
    width: 246px;
}

.item-button {
    background-color: yellowgreen;
    border-radius: 2px;
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 1px;
}

.item-button:hover {
    background-color: rgb(125, 170, 0);
}

.item-button:active { 
    background-color: white;
    color: yellowgreen;
}

.items {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 15px 0;
}

.remove-list-button {
    color: rgb(100, 100, 100);
    background-color: transparent;
    font-size: 24px;
    width: 25px;
    height: 25px;
    margin-right: -8px;
}

.remove-list-button:focus, .remove-list-button:hover {
    color: rgb(200, 200, 200);
}

.bin {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin: auto;
    margin-bottom: 10px;
    border: rgb(50, 50, 50) 1px solid;
    border-radius: 50%;
    background-color: rgb(50, 50, 50);
}

.bin:hover {
    border: white 2px solid !important;
}

.fa-trash-alt {
    align-self: center;
    width: 18px;
    height: 18px;
}

.counter {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}