body {
    background-color: rgb(25, 25, 25);
    color: white;
}

h1 {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 100px;
    margin: 0 0 30px;
}

h2 {
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 2px;
}

input[type="text"] {
    font-size: 20px;
    border: none;
    border-bottom: 1px white solid;
    color: white;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 1px yellowgreen solid;
}

button  {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: white;
    color: yellowgreen;
}

button:focus {
    outline: none;
}