.task-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 5px;
}

.task {
    width: 100%;
    padding: 5px 3px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: space-between;
    transition: background-color .5s;
}

.task:hover {
    background-color: rgb(150, 150, 150);
    transition: background-color 0s;
}

.task.done:hover {
    background-color: rgb(25, 25, 25);
}

.task-inner {
    display: flex;
}

.task-title:focus {
    outline: none;
    border-bottom: yellowgreen 1px solid;
}

.task-text {
    margin-right: 20px;
}

.done {
    background-color: rgb(25, 25, 25);
    transition: all 1s;
}

.task-checkbox {
    -webkit-appearance: none;
    background-color: white;
    transition: background-color 1s;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.task-checkbox:focus {
    outline: none;
}

.task-checkbox:checked {
    background-color: yellowgreen;
    transition: background-color 1s;
}

.delete-task-button {
    background-color: transparent;
    font-size: 26px;
    line-height: 10px;
    color: white;
}

.delete-task-button:hover {
    opacity: .4;
}

.edit-task-button { 
    background-color: transparent;
    color: white;
    font-size: 22px;
    line-height: 16px;
}

.edit-task-button:hover {
    color: rgb(50, 50, 50);
}