.list {
    width: 300px;
    margin: 0 15px 15px;
    padding: 0 15px;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.list-banner {
    display: flex;
}

.list-title {
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.list-title:focus {
    outline: none;
    border-bottom: yellowgreen 1px solid;
}

.task-text {
    background-color: rgb(50, 50, 50);
}

.tasks {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin: 15px 0;
}

.remove-list-button {
    background-color: rgb(50, 50, 50);
    color: rgb(100, 100, 100);
    background-color: rgb(50, 50, 50);
    color: rgb(100, 100, 100);
    width: 25px;
    height: 25px;
    margin-right: -15px;
}

.remove-list-button:focus, .remove-list-button:hover {
    color: rgb(200, 200, 200);
    background-color: rgb(50, 50, 50);
}